<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToTrace="true"
      internalLogToConsoleError="true"
      internalLogFile="c:\temp\nlog_internal_log.txt"      
    >
  <!-- Useful nlog internal-logging items to have at hand ... add these attributes to the main nlog node (above) if needed -->
  <!--internalLogLevel="Trace"
  internalLogToTrace="true"
  internalLogToConsoleError="true"
  internalLogFile="c:\temp\nlog_internal_log.txt"-->

  <extensions>
    <add assembly="NLog.Extensions.AzureStorage" />
  </extensions>

  <!-- define various log targets -->
  <!-- JM13Aug18 : Refer to "GeneralStartupExtension.SetLogging" for injecting arguments - e.g. "azureBlobStorageconnectionString" -->

  <targets>
    <target type="AzureBlobStorage"
            name="azure-blob"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}"
            connectionString="${mdlc:item=azureBlobStorageconnectionString}" 
            container="logging"
            blobName="${machinename}_${logger}${date:universalTime=true:format=mm}.log"  />

      <target xsi:type="File" name="web-log" fileName="${basedir}/app_data/logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/main_${date:format=yyyy-MM-dd HH}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

      <target xsi:type="Trace" name="azure-stream"
            layout="${logger}|${uppercase:${level}}|  ${message} ${exception:format=tostring}" />

      <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="web-log" />
    <logger name="*" minlevel="Trace" writeTo="azure-stream" />
    <logger name="*" minlevel="Trace" writeTo="azure-blob" />   <!-- //gotcha:  make sure the container exists in the azure storage account - this code will not create a new container, if it doesn't exist -->
  </rules>

</nlog>